root=true

[*]
tab_width = 4
trim_trailing_whitespace = true

[*.cs]
resharper_unused_auto_property_accessor_global_highlighting = none
resharper_switch_expression_handles_some_known_enum_values_with_exception_in_default_highlighting = none
resharper_check_namespace_highlighting = none
resharper_foreach_can_be_converted_to_query_using_another_get_enumerator_highlighting = none
resharper_foreach_can_be_partly_converted_to_query_using_another_get_enumerator_highlighting = none
dotnet_diagnostic.CA1862.severity = none

# FortranLib exports methods used at runtime so ignore warnings about
# unused public members or types.
[fortranlib/*.cs]
resharper_unused_member_global_highlighting = none
resharper_unused_type_global_highlighting = none
resharper_member_can_be_private_global_highlighting = none
resharper_property_can_be_made_init_only_global_highlighting = none

# ComalLib exports methods used at runtime so ignore warnings about
# unused public members or types.
[comallib/*.cs]
resharper_unused_member_global_highlighting = none
resharper_unused_type_global_highlighting = none
resharper_member_can_be_private_global_highlighting = none
resharper_property_can_be_made_init_only_global_highlighting = none

